<!DOCTYPE html>
<html lang="zh-cmn">
<head>
    <!-- meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="author" content="imsunhao"/>
    <meta name="description" content="孙颢的个人网志"/>
    <meta name="keywords" content=""/>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/blog/markdown.css">
    <% if(author == "张瀚月"){ %>
    <link rel="stylesheet" href="/stylesheets/blog/markdown-pink.css">
    <% } %>
    <link rel="stylesheet" href="/lib/prettify/prettify.css">
    <script src="/lib/jquery-3.1.1.min.js"></script>
    <% if(!content){ %>
    <script type="text/javascript" src="https://unpkg.com/marked@0.3.6"></script>
    <script type="text/javascript" src="https://unpkg.com/lodash@4.16.0"></script>
    <% } %>
    <script src="/lib/prettify/prettify.js"></script>
    <script src="/lib/vue/vue.js"></script>
    <script src="/lib/moment-with-locales.min.js"></script>
    <script>
        $(function () {

            <% if(content){ %>
            $('code, pre').addClass('prettyprint');
            prettyPrint();
            <% } %>

            moment.locale('zh-cn');
//            Vue.filter('testFilter',function (test) {
//                return moment(test,'llll');
//            });

            var time = 0;

            if (moment('<%= createTime %>', 'llll').isValid()) {
                time = '<%= createTime %>';
            } else {
                time = moment('<%= createTime %>').format('llll')
            }

            var app = new Vue({
                el: '#editor',
                data: {
                    <% if(!content){ %>
                    input: '\
                    ## 大标题小标题                                                         \
\
                    几个#号几级标题。如一个井号是一级标题，四个井号是四级标题。\
\
\
# 一级标题\
## 二级标题\
### 三级标题\
#### 四级标题\
##### 五级标题\
###### 六级标题\
\
\
## 引用别人的话\
            一个>号变引用。即可呈现出灰色底色引用的效果。\
\
\
            >大珠小珠落玉盘\
\
## 插入表格\
            |号表示分割线。表格从此想怎么画怎么画。\
\
\
dog | 居中对齐 | 居右对齐\
----|:------:|----:\
foo | foo  | foo\
bar | bar  | bar\
baz | baz  | baz\
\
\
## 缩进黑点对齐\
            一个*号点缩进。呈现黑点引导的对齐效果。\
\
\
* 缩进\
\
## 插入高亮代码\
            三个`号插代码。插入一段高亮代码。\
\
\
这里没有高亮```lalalal你好世界```这里也没有高亮\
\
\
## 插入分隔线\
三个*号分隔线。分隔线就是这么简单。\
\
\
***\
\
## 好看的单独框\
按一下tab键。单独框立刻出现。\
\
\
	这是代码\
	import"234"\
	int a=0;\
	for(int i=0;i<9;i++){\
		alert(1);\
	}\
\
## 斜体、粗体、删除线\
|语法|效果|\
|----|-----\
|`*斜体1*`|*斜体1*\
|`_斜体2_`|_斜体2_\
|`**粗体1**`|**粗体1**\
|`__粗体2__`|__粗体2__\
|`这是一个 ~~删除线~~`|这是一个 ~~删除线~~\
|`***斜粗体1***`|***斜粗体1***\
|`___斜粗体2___`|___斜粗体2___\
|`***~~斜粗体删除线1~~***`|***~~斜粗体删除线1~~***\
|`~~***斜粗体删除线2***~~`|~~***斜粗体删除线2***~~\
\
斜体、粗体、删除线可混合使用',
                    <% } %>
                    author: '<%= author %>',
                    title: '<%= title %>',
                    createTime: time
                }
                <% if(!content){ %>
                ,
                computed: {
                    compiledMarkdown: function () {
                        return marked(this.input, {sanitize: true})
                    }
                },
                methods: {
                    update: _.debounce(function (e) {
                        $('code, pre').addClass('prettyprint');
                        prettyPrint();
                        this.input = e.target.value
                    }, 300)
                }
                <% } %>
            })
        });
    </script>
</head>
<body>
<div id="editor">
    <div class="container">
        <div class="main">
            <div class="article">
                <h1>{{title}}</h1>
                <h6>author:{{author}}</h6>
                <h6>createTime:{{createTime}}</h6>




