<!DOCTYPE html>
<html lang="zh-cmn">
<head>
    <!-- meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="author" content="imsunhao"/>
    <meta name="description" content="孙颢的个人网志"/>
    <meta name="keywords" content=""/>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/blog/markdown.css">
    <% if(author == "张瀚月"){ %>
    <link rel="stylesheet" href="/stylesheets/blog/markdown-pink.css">
    <% } %>
    <link rel="stylesheet" href="/lib/prettify/prettify.css">
    <script src="/lib/jquery-3.1.1.min.js"></script>
    <% if(!content){ %>
    <script type="text/javascript" src="https://unpkg.com/marked@0.3.6"></script>
    <script type="text/javascript" src="https://unpkg.com/lodash@4.16.0"></script>
    <link rel="stylesheet" href="/stylesheets/blog/markdown-edit.css">
    <% } %>
    <script src="/lib/prettify/prettify.js"></script>
    <script src="/lib/vue/vue.js"></script>
    <script src="/lib/moment-with-locales.min.js"></script>
    <script>
        $(function () {
            <% if(content){ %>
            $('code, pre').addClass('prettyprint');
            prettyPrint();
            <% }%>
            moment.locale('zh-cn', {
                meridiemParse : RegExp,
                isPM : Function
            });
//            Vue.filter('testFilter',function (test) {
//                return moment(test,'YYYY年MM月DD日 HH时mm分ss秒');
//            });
            var time = 0;
            if (moment('<%= createTime %>', 'YYYY年MM月DD日 HH时mm分ss秒').isValid()) {
                time = '<%= createTime %>';
            } else {
                time = moment('<%= createTime %>').format('YYYY年MM月DD日 HH时mm分ss秒')
            }
            var app = new Vue({
                el: '#editor',
                data: {
                    <% if(!content&&!input){ %>
                    input: '## 大标题小标题\n\
\n几个#号几级标题。如一个井号是一级标题，四个井号是四级标题。\n\
\n\
\n\
# 一级标题\n\
## 二级标题\n\
### 三级标题\n\
#### 四级标题\n\
##### 五级标题\n\
###### 六级标题\n\
\n\
\n\
## 引用别人的话\n一个>号变引用。即可呈现出灰色底色引用的效果。\n\
\n\
\n>大珠小珠落玉盘\n\
\n\
## 插入表格\n\
            |号表示分割线。表格从此想怎么画怎么画。\n\
\n\
\ndog | 居中对齐 | 居右对齐\n\
----|:------:|----:\n\
foo | foo  | foo\n\
bar | bar  | bar\n\
baz | baz  | baz\n\
\n\
\n\
## 缩进黑点对齐\n一个*号点缩进。呈现黑点引导的对齐效果。\n\
\n\
\n\
* 缩进\n\
\n\
## 插入高亮代码\n三个`号插代码。插入一段高亮代码。\n\
\n\
\n\
这里没有高亮```lalalal你好世界```这里也没有高亮\n\
\n\
\n\
## 插入分隔线\n\
三个*号分隔线。分隔线就是这么简单。\n\
\n\
\n\
***\n\
\n\
## 好看的单独框\n\
按一下tab键。单独框立刻出现。\n\
\n\
\n\
	这是代码\n\
	import"234"\n\
	int a=0;\n\
	for(int i=0;i<9;i++){\n\
		alert(1);\n\
	}\n\
\n\
## 斜体、粗体、删除线\n\
|语法|效果|\n\
|----|-----\n\
|`*斜体1*`|*斜体1*\n\
|`_斜体2_`|_斜体2_\n\
|`**粗体1**`|**粗体1**\n\
|`__粗体2__`|__粗体2__\n\
|`这是一个 ~~删除线~~`|这是一个 ~~删除线~~\n\
|`***斜粗体1***`|***斜粗体1***\n\
|`___斜粗体2___`|___斜粗体2___\n\
|`***~~斜粗体删除线1~~***`|***~~斜粗体删除线1~~***\n\
|`~~***斜粗体删除线2***~~`|~~***斜粗体删除线2***~~\n\
\n\
斜体、粗体、删除线可混合使用',
                    tag:'',
                    <% }else if(input){%>
                    input: $('#content').eq(0).val(),
                    tag:'<%=tag%>',
                    <%}%>
                    author: '<%= author %>',
                    title: '<%= title %>',
                    createTime: time
                }
                <% if(!content){ %>
                ,
                computed: {
                    compiledMarkdown: function () {
                        return marked(this.input, {sanitize: true})
                    }
                },
                methods: {
                    update: _.debounce(function (e) {
                        $('code, pre').addClass('prettyprint');
                        prettyPrint();
                        this.input = e.target.value
                    }, 300),
                    submit:function (e) {
                        $('#createTime').val(new Date(moment(this.createTime,'YYYY年MM月DD日 HH时mm分ss秒')));
                        $('#form')[0].submit();
                    }
                }
                <% } %>
            })
        });
    </script>
</head>
<body>
<div id="editor">
    <div class="container">

        <% if(!content){ %>
        <form id="form" class="main edit" action="#" method="post"  onsubmit="return check();">
            <p><label for="title">标题：</label><input id="title" name="title" type="text" v-model="title" placeholder="标题" autocomplete="off"></p>
            <p><label for="author">作者：</label><input id="author" type="text" name="author" v-model="author" placeholder="作者" autocomplete="off" disabled></p>
            <p><label for="createTime">日期：</label><input id="createTime" name="createTime" type="text"  v-model="createTime" autocomplete="off"></p>
            <p><label for="tag">标签：</label><input id="tag" name="tag" type="text"  v-model="tag"></p>
            <textarea id="content" :value="input" @input="update" name="content"><%if(input){%><%=input%><%}%></textarea>
            <p class="clear"><a href="#">删除本篇文章</a><a class="button" @click="submit">保存本篇文章</a></p>
        </form>
        <% } %>
        <div class="main">
            <div class="article">
                <h1>{{title}}</h1>
                <h6>author:{{author}}</h6>
                <h6>createTime:{{createTime}}</h6>




