<%- include public/header.ejs %>

<script>
    $(function () {
        $('code, pre').addClass('prettyprint');
        prettyPrint();
        moment.locale('zh-cn');
        var time = 0;
        if (moment('<%= createTime %>', 'YYYY年MM月DD日 HH时mm分ss秒').isValid()) {
            time = '<%= createTime %>';
        } else {
            time = moment('<%= createTime %>').format('YYYY年MM月DD日 HH时mm分ss秒')
        }
        var header = new Vue({
            el: '#contentHeader',
            data: {
                tag: '<%= tag %>',
                title: '<%= title %>'
            }
        });
        var footer = new Vue({
            el: '#contentFooter',
            data: {
                author: '<%= author %>',
                createTime: time,
                portrait:'<%-portrait%>',
                isPublic: '<%= public %>',
                signature:'<%=signature%>'
            }
        });
    });
</script>
</head>
<body>
<div class="container">
    <div class="main">
        <div class="article">
            <div id="contentHeader">
                <h1>{{title}}</h1>
            </div>
            <%- content %>
            <div id="contentFooter">
                <div class="portrait"><img :src="portrait" :alt="author"></div>
                <div class="introduction">
                    <h5>{{author}}</h5>
                    <h6>{{signature}}</h6>
                    <p>{{createTime}}</p>
                </div>
            </div>
            <nav class="article-previous clear">
                <a class="prev" href="/psy/open-science-toolbox.html" rel="bookmark">&laquo;&nbsp;未完成</a>
                <a class="next" href="/tech/pandoc.html" rel="bookmark">未完成&nbsp;&raquo;</a>
            </nav>

            <% if(sessionUser == author && typeof(content)!="undefined"){ %>
            <form action="#" method="post">
                <p>
                    <input type="checkbox" value='1' name="public">分享文章
                </p>
                <p>
                    <button>提交</button>
                </p>
            </form>
            <% } %>
            <div class="comment">
                <div id="disqus_thread"></div>
            </div>
        </div>
    </div>
</div>
<%- include public/footer.ejs %>