<%- include public/header.ejs %>
<%if(typeof (user)!="undefined"){%>
<div class="container">
    <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon">id</span>
                    <input type="text" class="form-control" name="_id" disabled value="<%=user._id%>">
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon">总余额</span>
                    <input type="text" class="form-control" disabled value="<%=parseFloat(user.sum).toFixed(2)%>">
                    <span class="input-group-addon">元</span>
                </div>
            </div>
</div>
<div class="container" style="margin-top: 20px">
        <div class="col-md-8">
            <div class="input-group">
                <span class="input-group-addon">增加余额</span>
                <input type="number" class="form-control balaba" placeholder="添加余额" name="sum" value="<%user.sum%>">
                <span class="input-group-addon">元</span>
            </div>
        </div>
        <div class="col-md-4">
            <button class="btn btn-block submit">submit</button>
        </div>
</div>
<%}%>
<table class="col-md-12 table table-striped" style="margin-top: 20px">
    <caption>最近账单</caption>
    <% if(olders.length > 0){ %>
    <tr>
        <th>订单编号(不是饿了吗的订单)</th>
        <th>总订单消费金额</th>
        <th>总杂费</th>
        <th>总优惠</th>
        <th>消费用途</th>
        <th>您的消费总额</th>
        <th>您的消费实际金额</th>
        <th>上次消费余额剩余</th>
        <th>您的余额</th>
        <th>订餐时间</th>
    </tr>
    <%
        var d = "",
                bili=0,
                otherPirce=0,
                people={};
    olders.forEach(function(older) {
        d = new Date(older.createTime);
        bili = parseFloat((parseFloat(older.sum)-parseFloat(older._sum)+parseFloat(older.other)) / (parseFloat(older.sum)+parseFloat(older.other)));
        otherPirce = (older.other) / older.people.length;
    for (var i = 0; i < older.people.length; i++) {
    if (older.people[i]._id == id) {
        people = {
            _id: older.people[i]._id,
            yue: older.people[i].yue,
            datials: older.people[i].datials,
            sum: older.people[i].sum
        }
    %>
    <tr>
        <td><%= older._id %></td>
        <td><%= parseFloat(older.sum).toFixed(2) %></td>
        <td><%= parseFloat(older.other).toFixed(2) %></td>
        <td><%= parseFloat(older._sum).toFixed(2) %></td>
        <td><%= people.datials %></td>
        <td><%= parseFloat(people.sum).toFixed(2) %></td>
        <%var s=0;
            if(older.sum==0&&older.other==0){
                s=parseFloat(-older._sum);
            }else s= (parseFloat(people.sum) + parseFloat(otherPirce))*bili
        %>
        <td><%= s.toFixed(2) %></td>
        <td><%= parseFloat(people.yue).toFixed(2) %></td>
        <td><%= (parseFloat(people.yue) - parseFloat(s)).toFixed(2) %></td>
        <td><%= (d.getFullYear() + " 年 " + (d.getMonth() + 1) + " 月 " + d.getDate() + " 日") %></td>
    </tr>
    <%
        break;
    }
    }})}else{ %>
    <tr>
        <td>抱歉用户暂无消费详情</td>
        <td><a href="/meal/add">去下订单</a></td>
    </tr>
    <% } %>
</table>
<script>
    $(function () {
        $('.submit').on("click", function (e) {
                var sum=parseFloat($('.balaba').val())+<%=user.sum%>;
            $.ajax({
                type: "POST",
                url: "/meal/editUser",
                data: {
                    sum: sum,
                    _id: '<%=user._id%>',
                    yue:<%=user.sum%>
                },
                success: function (data, status) {
                    if (status == "success") {
                        window.location.href = data.url;
                    }
                }
            });
        });
    })
</script>
<%- include public/footer.ejs %>