<%- include public/header.ejs %>

<table class="table table-striped">
    <caption>查询结果</caption>
    <% if(users.length > 0){ %>
    <tr>
        <th>用户名</th>
        <th>余额</th>
        <th>上次吃午饭下订单的时间</th>
        <th>查看用户消费详情</th>
    </tr>
    <% var d = "";
    users.forEach(function(user) {
        d = new Date(user.changeTime);
    %>
    <tr>
        <td><%= user.username %></td>
        <td><%= parseFloat(user.sum).toFixed(2) %></td>
        <td><%= (d.getFullYear() + " 年 " + (d.getMonth() + 1) + " 月 " + d.getDate() + " 日") %></td>
        <td><a href="/meal/mealDetails/<%= user._id %>">消费详情</a></td>
    </tr>
    <% })}else{ %>
    <tr>
        <td>抱歉暂无数据！</td>
        <td><a href="addUser">添加用户</a></td>
    </tr>
    <% } %>
</table>

<%- include public/footer.ejs %>

