<%- include public/header.ejs %>

<table class="table table-striped">
    <caption>查询结果</caption>
    <% if(olders.length > 0){ %>
    <tr>
        <th>订单编号(不是饿了吗的订单)</th>
        <th>总金额</th>
        <th>杂费</th>
        <th>优惠</th>
        <th>人员</th>
        <th>订餐时间</th>
    </tr>
    <% var d = "";
    olders.forEach(function(older) {
        d = new Date(older.createTime);
    %>
    <tr>
        <td><%= older._id %></td>
        <td><%= older.sum %></td>
        <td><%= older.other %></td>
        <td><%= older._sum %></td>
        <td>
            <% older.people.forEach(function (people) { %>
            <a style="float: left" href='/meal/mealDetails/<%= people._id %>?search=<%= older._id %>'><%= peoples[people._id] %></a>
            <% }); %>
        </td>
        <td><%= (d.getFullYear() + " 年 " + (d.getMonth() + 1) + " 月 " + d.getDate() + " 日") %></td>
    </tr>
    <% })}else{ %>
    <tr>
        <td>抱歉暂无数据！</td>
        <td><a href="add">下订单</a></td>
    </tr>
    <% } %>
</table>

<%- include public/footer.ejs %>

